<div class='container text-xs-center'>
  <div class="row">
    <h2>Search shops :</h2>
  </div>
  <div class='row' >
    <div class='col-md-8 border' >
      <div class="map-container">
        <div id="map-index" style="height: 400px"></div>
      </div>
      </div>
    <div class='col-md-4 border' >
      <%= button_tag "Set on your position", id: 'geoloc', class: "btn btn-primary" %>
      <%= bootstrap_form_tag(layout: :horizontal, label_col: 'col-md-6', control_col: 'col-md-6') do |f| %>
          <%= f.number_field :latitude, step: 'any', required: true %>  
          <%= f.number_field :longitude, step: 'any', required: true %>  
        <%= f.number_field :radius, step: '0.001', value: 10 %>
        <%= f.number_field :numberOfShops %>
        <%= f.form_group do %>
          <%= f.submit  'Search'%>
        <% end %>
      <% end %>
    </div>
      </div>
  </div>
</div>                               
<%= javascript_tag "var shops = #{@shops.to_json}" %>
<script>mapIndex(shops);
</script>

