

<p id="notice"><%= notice %></p>

<h1 class="text-xs-center">Shops within <%= @radius.to_s %> km of <%= @origin.to_a %> </h1>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 map-container'>
      <div id="map" style="height:300px;"></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <table class="table table-condensed table-responsive">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Phone</th>
            <th>Distance</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @shops.each do |shop| %>
            <tr>
              <td><%= shop.name %></td>
              <td><%= shop.address %></td>
              <td><%= shop.city %></td>
              <td><%= shop.phone %></td>
              <% if (d = shop.distance_to @origin, units: :kms) < 1 %>
                <td><%= (d * 100).round %> m</td>
              <% else %>
                <td><%= d.round(2) %> km</td>
              <% end %>          
              <td><%= link_to 'Show', shop,class:'btn btn-info' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<%= javascript_tag "var shops = #{@shops.to_json}" %>
<%= javascript_tag "var origin = #{@origin.to_json}" %>
<script>
  var map = new GMaps({
    div: '#map',
      lat: origin.lat,
      lng: origin.lng
  });

var userMarker = map.addMarker({
  lat: origin.lat,
    lng: origin.lng,
    title: 'Your position',
    infoWindow: {
      content: 'Your position'
    }
});

var shops_latlng = []; 
shops_latlng.push(new google.maps.LatLng({lat: origin.lat, lng: origin.lng}));

addshops(map,shops,shops_latlng);
</script>
